/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  
  /* header */
  header {
    padding: 20px 78px 34px 78px;
    position: absolute;
    z-index: 2;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  /* Responcive header (0-767px) */
  @media (max-width:767px){
    header{
      padding: 20px;
    }
  }
  /* responcive header ipad */
  @media (min-width:768px) and (max-width:991px){
    header{
      padding: 20px 30px;
    }
  }
  header .logo img {
    width: 70px;
  }
  @media (min-width:768px) and (max-width:991px){
    header .logo img{
      width: 55px;
    }
  }

  /* meida query logo */
  @media (max-width:767px){
    header .logo img{
      width: 45px;
    }
  }
  
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header nav .fa-bars{
    display: none;
  }
  /* media query(fa-bars) */
  @media (max-width:767px){
    header nav .fa-bars{
      display:block ;
    }

   
  }
  
  .navbar .menu {
    display: flex;
  }
  /* media query(ul) */
  @media (max-width:767px){
    .navbar .menu{
      display: block;
      position: absolute;
      background-color: rgb(81, 110, 192);
      left: 0;
      right: 0;
      top: 80px;
      padding: 30px 0;
      display: none;
    }
  }
/* js function  */
  .navbar .menu.open{
    display: block;
  }
  
  .navbar a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 8px;
    margin: 0 20px;
  }
  @media (min-width:768px) and (max-width:991px){
    .navbar a{
      margin: 0 12px;
    }
  }

  .navbar li:last-child a {
    padding-right: 0;
  }
  
  .navbar li a {
    transition: color ease 0.8s;
  }
  
  .navbar li:hover a {
    color: #f70142;
  }
  
  .navbar li.active a {
    border-bottom: 2px solid #f70142;
  }
  
  /* hero */
  
  .hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  .hero img {
    width: 100%;
    margin: -133px 0 0 0;
  }

  @media (min-width:768px) and (max-width:1024px){
    .hero img {
      width: 100%;
      object-fit: cover;
      height: 100vh;
      margin: 0px 0 0 0;
  }
  }

  

  /* media query img */
  @media (max-width:767px){
    .hero img {
      height: 100vh;
      object-fit: cover;
      margin-top: 3px;

    }
  }
  /* desktop css */
  .hero .hero-info h1 {
    color: white;
    font-size: 74px;
    line-height: 74px;
    font-weight: 900;
    margin-bottom: 28px;

    background: linear-gradient(80.92deg, #f70142 6.89%, #2F3BF5 93.11%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .hero .hero-info h1 span {
    font-size: 38px;
    font-weight: 400;
    display: block;
  }
  
  .hero .hero-info {
    position: absolute;
    top: 50%;
    left: 78px;
    transform: translateY(-50%);
    max-width: 405px;
  }

  @media (min-width:768px) and (max-width:1024px){
    .hero .hero-info {
      position: absolute;
      top: 72%;
      left: 38px;
      transform: translateY(-50%);
      max-width: 405px;
  }
  }

  /* mediaquery (info) */
  @media (max-width:768px){
    .hero .hero-info{
      
        position: absolute;
        top: 77%;
        left: 30px;
        transform: translateY(-50%);
        max-width: 405px;
    }
    }
/* mobile css */
  @media (max-width:767px){
    .hero .hero-info h1 {
      color: white;
      font-size: 50px;
      line-height: 74px;
      font-weight: 900;
      margin-bottom: 28px;
    }
    
  
  }
/* ipad css */
  @media (min-width:768px) and(max-width:991px){
    .hero .hero-info h1 {
      font-size: 42px;
      line-height: 54px;
    }


  }

  
  
  .hero .hero-info p {
    color: white;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 42px;
  }
  
  .hero .hero-info .cta-btn {
    background: #f70142;
    color: white;
    font-size: 21px;
    font-weight: 700;
    padding: 12px 30px;
    border-radius: 24px;
    transition: background-color ease 0.5s;
  }
  
  .hero .hero-info .cta-btn:hover {
    background-color: rgb(151, 8, 8);
  }
  /* swiper style */
  .hero .swiper-pagination{
    bottom: 179px;
    padding-right: 78px;
    text-align: right;

  }
  @media (min-width:768px) and (max-width:1024px){
    .hero .swiper-pagination {
      bottom: 43px;
      padding-right: 39px;

    }

  }

  /* mediaquery(pagination) */
  @media (max-width:767px){
    .hero .swiper-pagination {
      bottom: 25px;
      padding-right: 24px;
      text-align: right;
  }      
  }
  .hero .swiper-pagination .swiper-pagination-bullet{
    width: 23px;
    height: 23px;
    background: transparent;
    border: 2px solid white;
    opacity: 1;
    outline: none;
  }

  .hero .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    border:2px solid #F70142;

  }
  /* linear gradient */
@media (max-width:767px){
  .hero .swiper-slide::before{
    content:'' ;
    width: 100%;
    height: 500px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top,rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  
   
  
  }
}